

<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/main.css">
<% } %>
</head>
<body>
<nav> 
  <a href="/exercises"><button>Exercises</button></a>
  
  <a href="/profiles"><button>Profiles</button></a>
  <% if (user) { %>
    <a href="/auth/logout"><button>Logout</button></a>    
    <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</nav>