<%- include('./partials/html-head') %>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

<link rel="stylesheet" href="/stylesheets/style.css">

<%- include('./partials/nav') %>

<main class="animate__animated animate__slideInUp">
  <h1>The Easy Workout Tracker</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus placeat velit reprehenderit sit atque amet unde eaque tempora repellendus quam exercitationem, libero beatae optio sint saepe quasi, laborum vero ab.</p>
</main>





<%- include('./partials/footer') %>
