<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />


<%- include('./partials/nav') %>

<main class="animate__animated animate__slideInUp">
  <h1>The Easy Workout Tracker</h1>
  <p>Welcome to the easy workout tracker.   This no-fluff tracker will help you stay on track and keep you accountable so that you can build and maintain muscle. </p> 
  <p>It is simple, log in with your Google account and create your workout. You can choose from existing exercises and add your own to the growing list that other users of this site have contributed. </p>
</main>





<%- include('./partials/footer') %>
