<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />


<%- include('./partials/nav') %>

<main class="animate__animated animate__slideInUp">
  <h1>The Easy Workout Tracker</h1>
 <p>Welcome to the easy workout tracker.   A no-fluff tracker that will help you stay on track and keep you accountable.  Damn the excuses!  Get up and get moving!</p>
</main>





<%- include('./partials/footer') %>
